/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3282f7;
}

/* The search field */
#input_ingredients {
  @include input;
  background-color: #3282f7;
}

#input_appareils {
  @include input;
  background-color: #68d9a4;
}

#input_ustensiles {
  @include input;
  background-color: #ed6454;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 100px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-ingredients {
  @include dropdownContent;
  background-color: #3282f7;
}

.dropdown-content-appareils {
  @include dropdownContent;
  background-color: #68d9a4;
  scrollbar-color:white #68d9a4;
  width: 300px;
  height: 150px;
}

.dropdown-content-ustensiles {
  @include dropdownContent;
  background-color: #ed6454;
  scrollbar-color:white #ed6454;;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu */
.show {
  display: grid;
  grid-template-columns: repeat(6, 3fr);
}

// chevron

.fa-chevron-down {
  position: absolute;
  right: 30px;
  top: 25px;
  font-size: 20px;
  color: #f1f1f1;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: row;
}

li {
  font-size: 12px;
  color: white;
  list-style: none;
  padding: 7px;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

// stylisation des tags

.tags {
  display: flex;
  margin-left: 20px;
  margin-left: 100px;
}

.tags_li {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-right: 20px;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.fa-times-circle {
  cursor: pointer;
}

.green_appareils {
  @include divtags;
  background-color: #68d9a4;
}

.blue_ingredients {
  @include divtags;
  background-color: #3282f7;
}

.red_ustensils {
  @include divtags;
  background-color: #ed6454;
}
.tags_value{
  padding-left:5px;
}